html, body {
    margin:0;
    height:100%;
}
#webperf-wrapper {
    position:fixed;
    display:flex;
    display: -webkit-flex;
    width:100%;
    background:black;
    bottom:0;
    left:0;
    text-align:center;
    padding: 6px 0px;
}
#webperf-client, #webperf-server, #webperf-resources, #webperf-webpagetest, #webperf-wpt-images {
    display:inline-block;
    width:100%;
    position:relative;
}
.webperf-label {
    font-size:14px;
    font-weight:500;
    color:white;
}
.webperf-value {
    font-size:14px;
    color:white;
}
.webperf-green {
    color:#32CD32;
}
.webperf-red {
    color:#f00;
}
#webperf-resourceInfo, #webperf-webpagetestInfo, #webperf-wpt-images-content, #webperf-countries {
	position:absolute;
	top:-256px;
	left:0;
	width:100%;
	height:250px;
	overflow:auto;
	overflow-x:hidden;
	background:white;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:0;
}

#webperf-countries {
	height:300px;
	top:-306px;
}

#webperf-countries > li {
	height:auto;
	width:100%;
	display:flex;
	display: -webkit-flex;
}

#webperf-countries > li > span {
	width:50%;
	border:1px solid black;
	padding:5px 0px;
}

#webperf-countries > li > span:nth-child(odd) {
    background-color: lightgray;
}

#webperf-webpagetestInfo {
	height: 225px;
	top: -231px;
}
#webperf-resourceInfo > li, #webperf-webpagetestInfo > li {
	display:flex;
	display: -webkit-flex;
	width:100%;
}
#webperf-resourceInfo > li > span, #webperf-webpagetestInfo > li > span {
	display:inline-block;
	width:100%;
	border:1px solid black;
	overflow:hidden;
}
#webperf-webpagetestInfo > li > span {
	border:0;
}
#webperf-webpagetestInfo > li > span > div{
	border:1px solid black;
	padding:5px 0px;
}

#webperf-wpt-images-content {
	height: 300px;
	top: -306px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#webperf-wpt-images-content > li {
	display:inline-block;
	height:100%;
	width:85%;
	border:1px solid black;
}

#webperf-wpt-images-content > li > div{
	height:auto;
	text-align: center;
	padding:5px 0px;
}

#webperf-wpt-images-content > li > div img{
	max-width: 100%;
}

.webperf-hide {
	display:none;
}
